#home1 header{
	padding: 12px;
	color: white;
	background-color: #026381;
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	border: solid #000000;
}

#home1 header img{
	padding: 12px;
	position: relative;
	top: 0;
	width: 100px;
    	height: 100px;
   	border-radius: 50%;
   	overflow: hidden;
	float: left;
}

.home2{
	background-color: rgb(212, 241, 250);
	margin-top: 11%;
	margin-bottom: 4%;
	min-width: 125%;
	min-height: 56%;
	padding-left: 2%;
	padding-top: 3%;
	padding-right: 2%;
	padding-bottom: 3%;
	overflow: scroll;
}

.home2 table{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    	border-collapse: collapse;
    	overflow: scroll;
    	border: 5px solid black;
}

.home2 table tr td{
	border: 1px solid black;
	text-align: center;
	padding: 6px;
}

.home2 table tr th{
	padding-top: 12px;
    	padding-bottom: 12px;
    	background-color: #026381;
    	color: white;
    	border: 1px solid black;
	text-align: center;
}

#home3{
	color: white;
	background-color: #021C1E;
	text-align: center;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	border: solid #000000;
}

#home3 footer ul{
	list-style-type: none;
}
